table{
    text-align:center;
    border-collapse:collapse;
    padding:8px;
  }
  tr.datos{
    background-color:black;
    color:white;
    text-align:center;
    padding:13px;
    font-family:Lato;
  }
  tr.th{
    border:solid;
    border-color:black;
  }
  tr:hover{
    color:white;
    background-color:black;
    transition:0.5s;
}
  td{
   border:solid black;
   text-align:center;
   padding:17px;
}

table th {
    border:solid black;
    background-color: #f2f2f2;
}